:root{
    --fondoMenu:#EA858D;
    --fondoBtnMenuHover:#D86C74;
    --colorFondoMenu:#EDEDED;
    --colorTextoMenuPie:#7A1E25;
    --fondo:#FFC9CD;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fondo);
}



.hero{
    min-height: 54px;
    height: 1vh;
    min-width: 396px;
    color:var(--colorFondoMenu);
    background-color: var(--fondoMenu);
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;

    overflow: hidden;
    
}
.nav{
    --state-close:scale(0);
    --state-hamburguer:scale(1);
    --state-menu:translate(110%);
    padding: 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3,max-content);
}
.nav-logo{
    width: 100px;
    z-index: 1;
    grid-column: -2/-1;
    grid-row: 1/2;
}
.nav-title{
    font-size: 1.5rem;
    z-index: 1;
}
.nav-links{
    position: absolute;
    background-color: var(--fondoMenu);
    top: 0;
    bottom: 0;
    right: 0;
    left: 1;
    padding: 0 5%;
    display: grid;
    align-content: center;
    gap: 2em;
    text-align: right;
    transform: var(--state-menu);
    transition: .3s transform;

}
.nav-hamburguesa, .nav-close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}
.nav-icon{
    width: 40px;
}

.nav-hamburguesa{
    transform: var(--state-hamburguer);
}
.nav-close{
    transform:var(--state-close) ;
}
.nav:target{
    --state-close:scale(1);
    --state-hamburguer:scale(0);
    --state-menu:translate(0);
    
}
.nav-item{
    list-style: none;
}
.nav-link{
    color: var(--colorFondoMenu);
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 10px 5px;
    border-radius: 12px;
    margin: 0 10px;
}
.nav-link:hover{
    background-color: var(--fondoBtnMenuHover);
}
@media (min-width:900px) {
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav-links{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav-link{
        font-size: 1rem;
        letter-spacing: none;
    }
    .hero{
        min-height: 54px;
        height: 1vh;
        min-width: 396px;
        color:var(--colorFondoMenu);
        background-color: var(--fondoMenu);
    }
}
